.srcset {
  width: 100%;
}

.srcset-sizes {
  width: 80%;
}

@media (min-width: 750px) {
  .srcset-sizes {
    width: 75%;
  }
}
@media (min-width: 1400px) {
  .srcset-sizes {
    width: 70%;
  }
}

picture {
  width: 100%;
}
